<div class = "medium-6 medium-centered large-4 large-centered columns log-in-form">
  <%= form_for(@post) do |f| %>
    <div class="row column">
      <h4 class="text-center">Crear post</h4>
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
        <%= f.label "Titulo" %><br>
        <%= f.text_field :title %>
        <%= f.label "Contenido" %><br>
        <%= f.text_field :content %>
        <%= f.label "Precio" %><br>
        <%= f.text_field :price %>
        <%= f.label "Imagen" %><br>
        <%= f.file_field :image %>
        <%= f.label :user_id %><br>
        <%= f.text_field :user_id %>
        <%= f.submit "Crear", class: "button expanded"%>
    </div>
  <% end %>
</div>
